h1{
    font-family: 'Nerko One', cursive;

}

body{
    margin-left: 40px;
    background-image: url(https://cdn.pixabay.com/photo/2016/01/02/04/59/coffee-1117933_1280.jpg);
    font-size: 18px;
    color: ivory;
    background-repeat: no-repeat;
    background-size: 100%;
    background


    
    
}
html{
    border-style: solid ;
    border-color: black;
    border-width: 2px;
}



p{
    font-family: 'Sofia';
}

h3{
    font-family: 'East Sea Dokdo', cursive;

}

.internet{
    background-color: burlywood;
    background-size: auto;

    
}