body{
    background-color:#F9DEC9;
}
.rectangle{
    position: relative; 
    margin:auto; 
    top: 110px;
    height: 340px;
    width: 29%;
    background-color: #3A405A;
    text-align: center;
    border-style: solid;
    border-radius: 35%;
    border-color: darkred;
    box-shadow: 0px 0px 25px 25px rgba(55,54,51, 1);
}


.yht{
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    color:white;
}
.tiedot{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    color:white;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }

.kuva {
  position: absolute;
  border-style: groove;
  border-color: #3A405A;
  border-width: 3px;

}

